body{
	text-align: center;
}

.container{
	position: relative;
}

#unit{
	color: darkred;
	cursor: pointer;
}

#video{
	width: 75%;
    height: 75%;
    position: relative;
    z-index: 0;
}

#weather{
	margin-top: 40px;
	margin-left: 15%;
	position: absolute;
	z-index: 1;
	color: red;
}